# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_splitortho_LEFT

config ZMK_KEYBOARD_NAME
    default "splitortho"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_splitortho_LEFT || SHIELD_splitortho_RIGHT

config ZMK_SPLIT
    default y

endif